* {
  box-sizing: border-box;
}

html {
  height: 100%;

  font-family: Garamond; 
}

body {
  min-height: 100%;
  min-width: 100%;

  background-color: #ffe8d6;
  scroll-behavior: auto;
}

/* header style */
header {
  width: 100%;
  height: 400px;
}

h1 {
  display: inline;
  margin: 15px;
  float: left;
}

.brand-blurb {
  width: 350px;
  height: 400px;

  font-size: 56px;

  position: absolute;
  top: 0;
  left: 200px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-image {
  width: 350px;
  height: 400px;

  position: absolute;
  top: 0;
  right: 200px;
}

.menu-link {
  display: inline;
  float: right;
  margin: 15px;
  color: black;
}

/* about-container div */
.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 200px;

  margin: 20px 0;
}

.text-items {
  width: 100%;
  height: 200px;
  margin: 15px;

  text-align: left;
}

.title {
  text-align: center;
  
  line-height: 100px;
}

/* photo-container */
.photo-container {
  width: 100%;
  height: 400px;
}

.photo-container > p {
  width: 350px;
  height: 400px;
  
  text-align: center;
  line-height: 400px;
  margin-left: 280px;
}

.container-image {
  width: 350px;
  height: 400px;

  position: absolute;
  top: 640px;
  right: 200px;
}

/* product container */
.product-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px 0;
}

/* The flip card container */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.2s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  color: black;
  transform: rotateY(180deg);
}

/* location container */
.location-container {
}

.location-images, .location-text {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.location-image {
  width: 600px;
  height: 500px;
}

.location-text-items {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}